@import "variables";
.nav {
  background-color: $black;
  transition: background-color .3s, top .3s;
  .brand {
    margin-left: 3%;
  }
  .burger {
    background-color: $black;
    border-color: $white;
    i {
      color: $white;
    }
  }
  .nav-items {
    background-color: $black;
      transition: background-color .3s, right .6s, top .3s;
    .close {
      color: $white;
    }
    .item {
      a {
        color: $white;
        font-family: $pfont;
        font-size: 20px;
      }
      &.active {
        a {
          color: $lgreen;
          font-family: $pfont;
        }
      }
    }
  }
}

@media only screen and (min-width: 436px) {

}

@media only screen and (min-width: 620px) {

}

@media only screen and (min-width: 768px) {
  .nav {
    .nav-items {
      background-color: transparent;
      .item a {
        font-size: 17px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .nav {
    .brand {
      margin-left: 10%;
    }
    .nav-items {
      margin-right: 10%;
      .item {
        a {
          font-size: 1.2vw;
        }
      }
    }
  }
}
