/*
Error: Invalid CSS after "@import "gallery"": expected "{", was ";"
        on line 4 of /Users/shstech14-03/Desktop/Web Design/skills1819/css/master.scss

1: @import "variables";
2: <<<<<<< HEAD
3: =======
4: @import "gallery";
5: >>>>>>> 18b45860d2f8b4bcf45950ca42e66e8fb493dd92
6: 
7: .landing {
8:   flex-direction: column;
9:   div {

Backtrace:
/Users/shstech14-03/Desktop/Web Design/skills1819/css/master.scss:4
/Users/shstech14-03/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
/Users/shstech14-03/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
/Users/shstech14-03/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1203:in `tok!'
/Users/shstech14-03/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:677:in `block'
/Users/shstech14-03/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:670:in `ruleset'
/Users/shstech14-03/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:696:in `block_child'
/Users/shstech14-03/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
/Users/shstech14-03/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:137:in `stylesheet'
/Users/shstech14-03/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:41:in `parse'
/Users/shstech14-03/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
/Users/shstech14-03/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:290:in `render'
/Users/shstech14-03/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:400:in `run'
/Users/shstech14-03/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/shstech14-03/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
/Users/shstech14-03/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
/Users/shstech14-03/Desktop/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
/Users/shstech14-03/Desktop/Koala.app/Contents/Resources/app.nw/bin/sass:22:in `load'
/Users/shstech14-03/Desktop/Koala.app/Contents/Resources/app.nw/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@import \"gallery\"\": expected \"{\", was \";\"\A         on line 4 of /Users/shstech14-03/Desktop/Web Design/skills1819/css/master.scss\A \A 1: @import \"variables\";\A 2: <<<<<<< HEAD\A 3: =======\A 4: @import \"gallery\";\A 5: >>>>>>> 18b45860d2f8b4bcf45950ca42e66e8fb493dd92\A 6: \A 7: .landing {\A 8:   flex-direction: column;\A 9:   div {"; }
