@import "variables";
@import "navbar";

.landing div {
  h1, h3 {
    color: $white;
    font-family: $pfont;
  }
  h3 {
    font-style: italic;
  }
}
.overview {
  background-color: $black;
  color: $white;
}
.content .container {
  padding: none;
}
